<h4 class='content__table-label'>学習が終了したら✔️</h4>
<% contents.each do |content| %>
  <div class='content__table-box'>
    <div class='content__table-title'>
      <%= link_to "#{content.title}", { anchor: "content__post-box#{content.id}" }, class:'content__table-title-link' %>
    </div>
    <div class='content__table-check'>
      <% if current_user.learned?(content) %>
        <%= link_to '✔️', contents_path(id: content.id), method: :delete, class:'content__table-link', remote: true %>
      <% else %>
        <%= link_to '', contents_path(id: content.id), method: :post, class:'content__table-link', remote: true %>
      <% end %>
    </div>
  </div>
<% end %>