<div class='trial-balance'>
  <h4 class='trial-balance__title'>推移表</h4>
  <!-- 入力月選択フォーム -->
  <div class='trial-balance__select-month'>
    <%= render 'layouts/select-month-from1', path: transition_tables_path %>
  </div>

  <!-- 推移表表示 -->
  <div class='trial-balance__index'>
    <table class='report__index-table'>
      <thead class='report__index-thead'>
        <tr class='report__index-tr'>
          <th class='report__index-th--account'>科目名</th>
          <th class='report__index-th--total-balance'>累計金額</th>
          <th class='report__index-th--average-balance'>平均金額</th>
          <th class='report__index-th--month'>1月</th>
          <th class='report__index-th--month'>2月</th>
          <th class='report__index-th--month'>3月</th>
          <th class='report__index-th--month'>4月</th>
          <th class='report__index-th--month'>5月</th>
          <th class='report__index-th--month'>6月</th>
          <th class='report__index-th--month'>7月</th>
          <th class='report__index-th--month'>8月</th>
          <th class='report__index-th--month'>9月</th>
          <th class='report__index-th--month'>10月</th>
          <th class='report__index-th--month'>11月</th>
          <th class='report__index-th--month'>12月</th>
        </tr>
      </thead>
      <tbody class='report__index-tbody'>
        <!-- #indexにて非同期生成 -->
      </tbody>
    </table>
  </div>
</div>