<div class='top'>
  <div class='top__title'>
    <h2 class='top__title-text'>ファイナンスラーニング</h2>
    <p class='top_title-sub-text'>- 家計簿を基に会計力を身につけるための学習ツール -</p>
  </div>

  <div class='top__about-boxes'>
    <div class='top__about-box'>
      <h4 class='top__about-box-title'>ファイナンスラーニングとは①</h4>
      <p class='top__about-box-body'>
        複式簿記を用いた家計簿アプリです。</br>
        日々の家計簿をつけることで、実践的に会計力を身につけることができます。
      </p>
    </div>
    <div class='top__about-box'>
      <h4 class='top__about-box-title'>ファイナンスラーニングとは②</h4>
      <p class='top__about-box-body'>
        会計力とは・・・</br>
        正しい会計知識を身につけることで、会社の数字を客観的に読み取り、ビジネスに活かすことができる力です。
      </p>
    </div>
    <div class='top__about-box'>
      <h4 class='top__about-box-title'>ファイナンスラーニングとは③</h4>
      <p class='top__about-box-body'>
        会計の前提知識は何も必要ありません。</br>
        学習コンテンツを参考にしながら、会計力を身につけていきましょう。
      </p>
    </div>
  </div>

  <div class='top__worry'>
    <h3 class='top__worry-title'>こんなお悩みありませんか？</h3>
    <div class='top__worry-boxes'>
      <div class='top__worry-box'>
        <p class='top__worry-box-text'>ビジネスマンとして何かスキルアップしたい。でも、何をしたらいいかわからない。</p>
        <%= image_tag asset_path('サラリーマン.jpg'), class:'top__worry-box-icon' %>
        <p class='top__worry-box-human'>20代　営業</p>
      </div>
      <div class='top__worry-box'>
        <p class='top__worry-box-text'>現場の社員にも、もっとコスト感覚を持って仕事をしてもらいたい。出来れば全社員が決算書を読めるくらいになってほしい。</p>
        <%= image_tag asset_path('社長.jpg'), class:'top__worry-box-icon' %>
        <p class='top__worry-box-human'>50代　経営者</p>
      </div>
    </div>
  </div>

  <div class='top__solution'>
    <h3 class='top__solution-title'>ファイナンスラーニングを使うと解決します！</h3>
    <div class='top__solution-boxes'>
      <div class='top__solution-box'>
        <h4 class='top__solution-box-title'>ポイント①</h4>
        <p class='top__solution-box-body'>学習コンテンツは、簿記の基礎から企業の決算書の読み方まで内容豊富！</p>
      </div>
      <div class='top__solution-box'>
        <h4 class='top__solution-box-title'>ポイント②</h4>
        <p class='top__solution-box-body'>教材を読むだけではなく、実際に手を動かして自分のお金について考えるから、真剣に取り組むことができる！</p>
      </div>
      <div class='top__solution-box'>
        <h4 class='top__solution-box-title'>ポイント③</h4>
        <p class='top__solution-box-body'>仕訳入力に慣れてきたら仕訳の登録はCSVインポートで完了！単純作業を減らして賢く学習！</p>
      </div>
    </div>
  </div>

  <div class='top__login'>
    <%= link_to 'ログインして使ってみる', new_user_registration_path, class:'top__login-btn' %>
  </div>
</div>