<div class='top'>
  <div class='top__title-box'>
    <h1 class='top__title-box-title'>ファイナンスラーニング</h1>
    <h3 class='top__title-box-text'>家計簿を基に会計力を身につけるための学習ツール</h3>
  </div>

  <div class='top__about-boxes'>
    <div class='top__about-box1'></div>
    <div class='top__about-box2'></div>
    <div class='top__about-box3'></div>
  </div>

  <div class='top__worry'>
    <div class='top__worry-title'></div>
    <div class='top__worry-boxes'></div>
  </div>

  <div class='top__arrows'>
    <div class='top__arrow fade__off'></div>
    <div class='top__arrow fade__off'></div>
    <div class='top__arrow fade__off'></div>
    <div class='top__arrow fade__off'></div>
    <div class='top__arrow fade__off'></div>
  </div>

  <div class='top__solution'>
    <div class='top__solution-title fade__off'></div>
    <div class='top__solution-boxes'>
      <div class='top__solution-box1 fade__off'></div>
      <div class='top__solution-box2 fade__off'></div>
      <div class='top__solution-box3 fade__off'></div>
    </div>
  </div>

  <div class='top__login-btn fade__off'>
    <%= link_to new_user_registration_path, class:'top__login-btn' do %>
      <span class='top__login-text'>ログインして使ってみる</span>
    <% end %>
  </div>
</div>