@import "global";

.account{
  @extend %max-width;

  // title
  &__title{
    margin-top: 20px;
  }

  // add
  &__add-area{
  }

  &__add-title{
    display: block;
    margin: 20px 30px 10px 0;
  }

  &__add-table{
    @extend %table;
  }

  &__add-thead{
    background: $gray;
    color: white;
  }

  &__add-tr{
    @extend %tr;
  }

  &__add-th{
    @extend %th;
    border: 1px solid black;
    height: 40px;
  }

  &__add-td{
    @extend %td;
    height: 40px;

    &--btn{
      border: none;
    }
  }

  &__add-btn{
    @extend %btn;
    width: 50px;
    margin-left: 20px;
  }

  &__add-text-field{
    width: 100px;
  }

  // index-boxes
  &__index-boxes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  &__index-box{
    margin-right: 40px;
  }

  &__index-title{
    display: block;
    margin: 20px 0 10px 0;
  }

  &__index-table{
    @extend %table;
  }

  &__index-thead{
    @extend %thead;
  }

  &__index-th{
    @extend %th;
    background: $gray;
    border: 1px solid black;

    &--code{
      @extend .account__index-th;
      width: 80px;
    }

    &--name,
    &--balance,
    &--total{
      @extend .account__index-th;
      width: 100px;
    }
  }

  &__index-td{
    @extend %td;
    border-top: none;
    background: white;

    &--code{
      @extend .account__index-td;
      width: 80px;
    }

    &--name,
    &--total{
      @extend .account__index-td;
      width: 100px;
    }

    &--balance{
      @extend .account__index-td;
      width: 100px;
      text-align: right;
    }

    &--btn{
      display: table-cell;
      border: none;
    }
  }

  &__index-link{
    @extend %link;
    margin: 0 5px;
  }

  //edit
  &__edit-td{
    @extend %td;
    background: $yellow;

    &--code{
      @extend .account__edit-td;
      width: 80px;
    }

    &--name,
    &--balance,
    &--total{
      @extend .account__edit-td;
      width: 100px;
    }

    &--btn{
      display: table-cell;
    }
  }

  &__edit-form{

    &--code{
      width: 39px;
    }

    &--name{
      width: 89px;
    }

    &--balance{
      width: 89px;
    }

    &--total{
      width: 89px;
    }
  }

  &__edit-btn{
    border: none;
    background: none;
    margin-left: 5px;
    font-size: 16px;
  }
}