@import "global";

// index
.entry{
  &__index-table{
    @extend %table;
  }

  &__index-thead{
    @extend %thead;
    display: block;
  }

  &__index-tbody{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;

    &--import{
      @extend .entry__index-tbody;
      margin-bottom: 20px;
    }
  }

  &__index-tr{
    width: 900px;

    &--sinple-entry{
      width: 800px;
    }
  }

  &__index-th{
    @extend %th;
    background: $gray;
    border: 1px solid black;

    &--date{
      @extend .entry__index-th;
      width: 50px;
    }

    &--code{
      @extend .entry__index-th;
      width: 100px;
    }

    &--nonself-code{
      @extend .entry__index-th;
      width: 150px;
    }

    &--name{
      @extend .entry__index-th;
      width: 150px;
    }

    &--amount{
      @extend .entry__index-th;
      width: 100px;
    }

    &--description{
      @extend .entry__index-th;
      width: 200px;
    }
  }

  &__index-td{
    @extend %th;
    border-top: none;
    background: white;
    overflow-x: scroll;
    &--date{
      @extend .entry__index-td;
      width: 50px;
      max-width: 50px;
    }

    &--code{
      @extend .entry__index-td;
      width: 100px;
      max-width: 100px;
    }

    &--nonself-code,
    &--name{
      @extend .entry__index-td;
      width: 150px;
      max-width: 150px;
    }

    &--amount{
      @extend .entry__index-td;
      width: 100px;
      max-width: 100px;
      text-align: right;
    }

    &--description{
      @extend .entry__index-td;
      width: 200px;
      max-width: 200px;
    }

    &--btn{
      display: table-cell;
      border: none;
    }

  }

  &__index-link{
    @extend %link;
    margin: 0 5px;
  }

  // new
  &__form-group{
    margin-top: 20px;
  }

  &__new-td{
    @extend %th;
    border-right: none;
    &--date{
      @extend .entry__new-td;
      width: 50px;
    }

    &--code{
      @extend .entry__new-td;
      width: 100px;
    }

    &--nonself-code{
      @extend .entry__new-td;
      width: 150px;
    }

    &--name{
      @extend .entry__new-td;
      width: 150px;
    }

    &--amount{
      @extend .entry__new-td;
      width: 100px;
      text-align: right;
    }

    &--description{
      @extend .entry__new-td;
      width: 200px;
      border-right: 1px solid;
    }

    &--btn{
      display: none;
    }
  }

  &__form{
    &--date{
      @extend %th;
      width: 38px;
    }

    &--code{
      @extend %th;
      width: 88px;
    }

    &--nonself-code{
      @extend %th;
      width: 138px;
    }

    &--name{
      @extend %th;
      width: 138px;
      background: $silver;
    }

    &--amount{
      @extend %th;
      width: 88px;
      text-align: right;
    }

    &--description{
      @extend %th;
      width: 188px;
    }
  }

  //edit
  &__edit-btn{
    border: none;
    background: none;
    margin-left: 5px;
    font-size: 16px;
  }

  // subbox
  &__subbox{
    height: 200px;
    width: 900px;
    border: 1px solid;
    background: white;
    opacity: 0.7;
    margin: 10px 0 60px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll
  }

  &__subbox-item{
    height: 30px;
    width: 190px;
  }
}