@import "global";

.errors{
  width: 100%;
  background: $pink;
  position: sticky;
  top: 60px;
  left: 0;

  &__title,
  &__list{
    @extend %max-width;
    display: block;
    font-size: 16px;
  }

  &__list{
    list-style: none;
  }
}