@import "global";

.flash{

  %flash{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
  }

  &__danger{
    @extend %flash;

    background: $pink;
  }

  &__success{
    @extend %flash;

    background: $green;
  }

  &__message{
    @extend %max-width;
  }
}