@import "global";

.flash{
    position: sticky;
    top: 50px;
    left: 0;

  &__danger{
    width: 100%;
    background: $pink;
  }

  &__success{
    width: 100%;
    background: $green;
  }

  &__message{
    @extend %max-width;
  }
}