@import "global";

.ledger{
  @extend %max-width;

  &__index{
    margin: 20px 0 100px 0;
    overflow-x: scroll;
  }

  &__title{
    text-align: center;
    margin-top: 20px;
  }

  &__select-month{
    width: 700px;
    display: inline-block;
  }

  &__index-table{
    @extend %table;

    table-layout: fixed;
    width: 1000px;
  }

  &__index-thead{
    @extend %thead;

  }

  &__index-tbody{
    max-height: 400px;
    overflow-y: scroll;
  }

  &__index-th{
    &--nonself-code{
      @extend %th;

      background: $gray;
      width: 100px;
    }

    &--name{
      @extend %th;

      background: $gray;
      width: 150px;
    }

    &--date{
      @extend %th;

      background: $gray;
      width: 50px;
    }

    &--amount{
      @extend %th;

      background: $gray;
      width: 100px;
    }

    &--description{
      @extend %th;

      background: $gray;
      width: 200px;
    }
  }

  &__index-td{
    &--nonself-code{
      @extend %th;

      width: 100px;
    }

    &--name{
      @extend %th;

      width: 150px;
    }

    &--date{
      @extend %th;

      width: 50px;
    }

    &--amount{
      @extend %th;

      width: 100px;
      text-align: right;
    }

    &--description{
      @extend %th;

      width: 200px;
    }
  }
}