@import "global";

.mypage{
  @extend %max-width;
  position: relative;

  // cumurative-journal
  &__cumurative-journal{
    margin-top: 30px;
  }

  &__cumurative-journal-item{
    padding: 5px 10px;
    display: inline-block;
    border-bottom: 1px solid;
  }

  // year-choice
  &__year-choice{
    margin-top: 30px;

    &-form-btn{
      @extend %btn;
      width: 50px;
      display: inline-block;
    }
  }

  &__table{
    @extend %table;
  }

  &__tr{
    @extend %tr;
    border-bottom: 1px solid;
  }

  &__td{
    @extend %td;
    border: none;
    border-bottom: 1px solid;
    padding: 5px 10px;
  }

  &__td-btn{
    @extend %btn;
    width: 100px;
  }

  &__graph-boxes{
    display: flex;
  }

  &__graph-area{
    width: 400px;
    margin: 30px 50px 30px 0;
    position: relative;
    z-index: 1;
  }

  &__graph-title{
    margin-bottom: 5px;
  }

  &__graph-box{
    position: relative;
    height: 200px;
    width: 400px;
    background: white;
    color: black;
    border: 1px solid;
    border-radius: 30px;

    &:after{
      position: absolute;
      content: '';
      height: 200px;
      width: 400px;
      background: black;
      top: 5px;
      left: 5px;
      z-index: -1;
      border-radius: 30px;
    }
  }

  // buttons
  &__buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  &__btn{
    @extend %btn;
    width: 150px;
    height: 40px;
    line-height: 40px;

    &:nth-child(1){
      margin-right: 30px;
    }
  }

}