@import "global";

.navbar{
  @extend %max-width;

  position: relative;
  height: 50px;
  list-style: none;
  display: flex;
  z-index: 10;

  %__list{
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  &__logo{
   @extend %__list;
   margin-right: auto;
  }

  &__logo-image{
    @extend %link;
    color: white;
  }

  &__item{
    @extend %__list;
  }

  &__item-link{
    @extend %link;
    color: white;
  }

  &__user-name{
    height: 25px;
    line-height: 25px;
  }

  &__user-year{
    height: 25px;
    line-height: 25px;
  }

  &__dropdown{
    @extend %__list;

    &:hover &-item{
      height: 40px;
      text-align: left;
      padding-left: 15px;
    }
  }

  &__dropdown-list{
    list-style: none;
    padding: 0;
    text-align: center;
    z-index: 100;
    position: relative;
    left: 30px;
  }

  &__dropdown-item{
    overflow: hidden;
    background: $gray;
    height: 0;
  }
}