@import "global";

%select-label{
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.select-month,
.select-month-from1{
  &__title{
    margin: 20px 0 10px 0;
  }

  &__form-group{
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__box{
    display: table-cell;
    border: 1px solid;
    border-right: none;

    &:last-child{
      border-right: 1px solid;
    }
  }

  &__checkbox{
    display: none;
  }

  &__label{
    @extend %select-label;

    &--first{
      @extend %select-label;
      background: $yellow;
    }

    &--first-only{
      @extend %select-label;
      background: $yellow;
    }

    &--second{
      @extend %select-label;
      background: $yellow;
    }

    &--between{
      @extend %select-label;
      background: $yellow;
    }
  }

  &__box-btn{
    margin-left: 30px;
  }

  &__btn{
    display: block;
    height: 30px;
    width: 50px;
    text-align: center;
    line-height: 30px;
  }

  &__account-form{
    width: 100px;
    margin-left: 20px;
  }
}