@import "global";

.top{
  @extend %max-width;
  margin-bottom: 100px;

  // title
  &__title-box{
    height: 300px;
    width: 980px;
    background: white;
    margin-top: 50px;
    border: 1px solid black;
    position: relative;

    // 右側の線
    &:before{
      content: '';
      height: 300px;
      width: 1px;
      background-color: black;
      position: absolute;
      top: 20px;
      left: 1000px;
    }

    // 下側の線
    &:after{
      content: '';
      height: 1px;
      width: 980px;
      background-color: black;
      position: absolute;
      top: 320px;
      left: 20px;
    }

  }

  &__title-box-title{
    display: block;
    margin-top: 165px;
    margin-left: 30px;
  }

  &__title-box-text{
    display: block;
    margin-left: 30px;
  }

  // about
  &__about-box{
    height: 300px;
    width: 750px;
    background-size: 100%;
    background-repeat: no-repeat;

    &1{
      @extend .top__about-box;
      margin: 70px auto 0 0;
      background-image: image-url('top__about-box1.png');
    }

    &2{
      @extend .top__about-box;
      margin-top: -20px;
      margin-left: auto;
      background-image: image-url('top__about-box2.png');
    }

    &3{
      @extend .top__about-box;
      width: 840px;
      margin-top: 50px;
      margin-right: auto;
      background-image: image-url('top__about-box3.png');
    }
  }

  // worry
  &__worry-title{
    height: 110px;
    width: 900px;
    margin: 50px auto 0 auto;
    background-image: image-url('top__worry-title.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__worry-boxes{
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    background-image: image-url('top__worry-boxes.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  // arrow
  &__arrows{
    height: 400px;
    width: 1000px;
    position: relative;
  }

  &__arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 150px 0 150px;
    border-color: black transparent transparent transparent;
    left: 350px;
    position: absolute;

    &:before{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100px 150px 0 150px;
      border-color: $yellow transparent transparent transparent;
      position: absolute;
      top: -105px;
      left: -150px;
    }

    &:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100px 150px 0 150px;
      border-color: $silver transparent transparent transparent;
      position: absolute;
      top: -120px;
      left: -150px;
    }

    &:nth-child(1){
      top: 250px;
    }
    &:nth-child(2){
      top: 200px;
    }
    &:nth-child(3){
      top: 150px;
    }
    &:nth-child(4){
      top: 100px;
    }
    &:nth-child(5){
      top: 50px;
    }
  }

  // solution
  &__solution-title{
    height: 110px;
    width: 900px;
    margin: 50px auto 0 auto;
    background-image: image-url('top__solution-title.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__solution-box{
    height: 230px;
    width: 1000px;
    background-size: 100%;
    background-repeat: no-repeat;
    &1{
      @extend .top__solution-box;
      background-image: image-url('top__solution-box1.png');
      margin-top: 30px;
    }
    &2{
      @extend .top__solution-box;
      background-image: image-url('top__solution-box2.png');
    }
    &3{
      @extend .top__solution-box;
      background-image: image-url('top__solution-box3.png');
    }
  }

  &__solution-box-title{
    margin-bottom: 20px;
  }

  // login
  &__login{
    height: 300px;
    padding: 100px;
  }

  &__login-btn{
    @extend %push_btn;
    width: 300px;
    margin: 50px auto;
  }
}
